.body {
    user-select: none;
}

.overall-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.top-nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1vh;
    /* background-color: whitesmoke; */
}

.top-nav-bar-zomato-icon>img {
    height: 4vh;
    margin-top: 4vh;
}

.top-nav-bar-search-bar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2.4vh;
    transition: .8s;
}

.svgs {
    position: relative;
    left: 2vw;
    top: .9vw;
    /* display: flex; */
}

.top-nav-bar-search-icon-city {
    display: flex;
    flex-wrap: wrap;
    outline: none;
    border: none;
    height: 7vh;
    transition: .8s;
    text-align: center;
    justify-content: space-between;
    box-shadow: 2px 8px 20px rgb(219, 218, 218);
    border-radius: 0.5rem;
    overflow: hidden;
}

.top-nav-bar-search-icon-city:hover {
    box-shadow: 2px 8px 20px rgb(187, 186, 186);
}

.top-nav-bar-search-bar-search {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    outline: none;
    height: 7vh;
    border: none;
    transition: .8s;
    width: 28vw;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 8px 20px rgb(219, 218, 218);
    border-radius: 0.5rem;
}

.search-icon {
    position: relative;
    left: 2vw;
}

.top-nav-bar-search-bar-search :hover {
    box-shadow: 2px 8px 20px rgb(187, 186, 186);
}

.top-nav-bar-logsig {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 3vh;
}

.top-nav-bar-login,
.top-nav-bar-signup {
    margin-right: 20px;
    color: rgb(105, 105, 105);
    user-select: none;
    cursor: pointer;
    font-size: 1.05rem;
    font-weight: 500;
    border-radius: 0.6rem;
    letter-spacing: 1px;
    transition: .5s;
}

.top-nav-bar-login:hover {
    transform: scale(1.2);
}

.top-nav-bar-signup:hover {
    transform: scale(1.2);
}

.delivdiningnightlife {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 50vw;
    margin-top: 5vh;
    margin-left: 5vw;
}

.delivery,
.diningout,
.nightlife {
    display: flex;
    flex-wrap: wrap;
}

.delivery>img,
.diningout>img,
.nightlife>img {
    /* object-fit: cover; */
    height: 3rem;
    border-radius: 20px;
    cursor: pointer;
}

.delivery>h3,
.diningout>h3,
.nightlife>h3 {
    font-size: 22px;
    font-weight: 400;
    margin-left: 1vw;
    margin-top: 2vh;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    cursor: pointer;
    color: grey;
}

.delivery>h3 {
    color: rgb(228, 62, 62);
}

.delivery {
    padding-bottom: 2vh;
    border-bottom-color: rgb(235, 64, 64);
    border-bottom-width: 0.22rem;
    border-bottom-style: solid;
}